<br>
<br>
<br>
<div class="container" *ngIf="userLogin">
    <div class="d-flex justify-content-center h-100">
        <div class="image_outer_container">
            <div class="img_icon"></div>
            <div class="image_inner_container">
                <img [src]="userLogin.Imagen">
            </div>
        </div>
    </div>
</div>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" *ngIf="nombre"> {{nombre}} </h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="userLogin">
            </div>
        </div>
    </div>
</section>



<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1"> Encuestas a Realizar </h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let form of (forms$ | async)">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Campamento: {{form.camp_mane}}</h4>
                                    <p class="card-text">Formulario: {{form.form_name}}</p>
                                    <p class="card-text">Coordinador: {{form.id_coordinator}}</p>
                                    <button type="button" 
                                    (click)="realizarForm(form.id_form_feedback)"
                                    class="btn btn-outline-info btn-xs">
                                            Realizar Encuesta
                                    <span class="fa fa-align-left"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

