<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="aboutus">
                    <h2 class="section-title">Nosotros</h2>
                    <p class="aboutus-text text-justify">Como una esencia, Costa Rica es un país concentrado y lleno de un valor único y selecto, generado principalmente por su gente. En nuestra esencia se concentra las grandes riquezas de nuestra tierra: hogar de bellezas naturales reconocidas
                        en el mundo y de frutos sabrosos, coloridos y de la más alta calidad. Una tierra que, a pesar de representar solo el 0,03% del territorio global, es hogar de alrededor del 5% de la biodiversidad y, con una población de 4,6 millones
                        de habitantes, produce y exporta más de 4.500 productos a 146 países. La gente también conforma nuestra esencia: ticos trabajadores, talentosos y capacitados, listos para asumir trabajos altamente especializados. Auténticos, solidarios,
                        emprendedores, “empunchados”, innovadores, pura vida… Los ticos formamos una nación orgullosa de su legado y dispuesta a hacer historia ante el mundo.</p>
                    <a class="aboutus-more" href="#">read more</a>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="aboutus-banner">
                    <img src="assets/img/peronas-turismo-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>